.descriptionTitleDark {
    border: 3px solid #3BE82C;
    border-radius: 10px;
    width: 400px;
    height: 70px;
    display: grid;
    place-items: center;
    h1 {
        font-size: 25px;
        color: #3BE82C;
        font-family: PIXEL;
    }
}

.descriptionTitleLight {
    border: 3px solid black;
    border-radius: 10px;
    width: 400px;
    height: 70px;
    display: grid;
    place-items: center;
    h1 {
        font-size: 25px;
        color: black;
        font-family: PIXEL;
    }
}
