.weatherAppProjectPageTitleDark {
    text-align: center;
    h1 {
        font-size: 55px;
        font-family: PIXEL;
        color: white;
    }
}

.weatherAppProjectPageTitleLight {
    background: white;
    text-align: center;
    h1 {
        font-size: 55px;
        font-family: PIXEL;
        color: black;
    }
}

@media(max-width: 768px) {
    .weatherAppProjectPageTitleDark {
        text-align: center;
        p {
            font-size: 30px;
            font-family: PIXEL;
        }
    }

    .weatherAppProjectPageTitleLight {
        text-align: center;
        p {
            font-size: 30px;
            font-family: PIXEL;
            color: black;
        }
    }
}
